                                                       /* Developed By Ahnaf Tahmid  */

/* Font google */

body {

       margin: 0 ;

     padding: 0;   

    font-family: 'Open Sans', sans-serif;

           width: 1350px;  
}

/* Main Style */

/* Also add Primary text Color orange and button color others are black  */

.btn-primary {

    border-radius: 5px;
    background: #f3ae1a;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}


.btn-secondary {

    border-radius: 5px;
    background: #dd7d00;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}

.text-primary {

    color: #e8a302;
}

/* about section tittle */

.section-tittle {


    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;



}

.section-description {

    color: #757575;
    text-align: center;
    font-size: 15px;

    /* font-weight: 400;

    line-height: 30px; */
}


.info-tittle {

    color: #757575;
    font-size: 17px;

    /* font-weight: 500; */


}

.info-description {
    color: #181818;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
}




/* What i do part */



/* .section-tittle {


    color: #181818;

     text-align: center; 

     font-size: 35px;

    font-weight: 700;



} 

.section-description {

     color: #757575;

     text-align: center; 

     font-size: 15px; 

     font-weight: 400;
  
}

 
.info-tittle {

    color: #181818 ;

    font-size: 17px; 

     font-weight: 500; 


}
.description{
    color: #757575 ;

     font-size: 15px;

     text-align: center;

    font-weight: 400; 
}   */


.main-description {

    color: #757575;
    font-size: 14px;
    font-weight: 500;
}

nav {

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-tittle {


    color: #181818;
    font-size: 45px;

    font-weight: 800;


}

nav>ul {

    display: flex;
    align-items: center;
}


nav li {

    list-style: none;
    margin-right: 50px;
}

nav a {

    text-decoration: none;
    color: #474747;
}

.header {

    background-color: #FFF8F3;
    background-image: url('./pics/header_bg.png '), url('./pics/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
        



}

.banner {

    padding: 30px 30px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.banner-content {

    max-width: 500px;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greetings {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-tittle {

    font-size: 52px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;


}

.color {
    font-size: 20px;
    color: #474747;
}


/* About section  */

/* .head {

    max-width: 1140px;

    margin: 0 auto;
} */


main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {

    margin-top: 130px;


}

.about {

    padding: 130px;
    border-radius: 10px;
    /* background: #FFF8F3; */
    background: #FFF8F3;
    margin: 130px 0;
}


.about-own-container {

    display: flex;
    justify-content: space-around;
}

.about-tothho {

    text-align: center;
}


              /* What i do section part */
              

/* .head {

     max-width: 1140px; 

      margin: 0 auto;  
}

 .Do { 

     padding: 30px 160px;

    border-radius: 10px; 

    background: #FFF8F3; 

      margin: 130px 0;  
}

 .section-container {

    display: flex; 

     padding: 30px; 

     justify-content: space-around; 
}

  .about-tothho {

     text-align: center; 

     padding: 30px; 
}    */


/* .section-container{

    display: flex;
}
.section-description{

    padding: 30px 150px;
}

.about-tothho{

    padding: 30px;

    gap: 20px;
}

.description{

 
} */



                        /* What i do styles */

#what-i-do-description {

    padding: 30px 150px;
}

.main-container {
    display: flex;
    gap: 25px;
}

.main {

    padding: 30px;

    gap: 35px;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.main-description {

    color: #757575;

}


/* Cv part */

.resume-column-tittle{

        color: #4f4b4b;

        font-size: 27px;

       font-weight: 700;

}


.resume-container{

    display: flex;
    gap: 80px;
}

.resume-item-tittle{

    
    color:  #1a1818;
    font-size: 18px;
        font-weight: 700;
        margin-bottom:  11px;
    

}

.resume-item-institute{

    margin-bottom: 30px;
    margin-top: 0px;
}

.resume-item-institute,
.resume-item-description{

    color: #757575;
    font-size: 14px;



}

.resume-container hr{

    margin: 19px;
}

.download-Resume{

    text-align: center;
    margin-top: 33px;
}

.last-footer{

    display: flex;

    /* background: #e5dbd7; */

    background: #FFF8F3;

     padding: 135px 205px; 
    /* margin-top: 130px; */

    gap: 70px;

}

.footer-col{

    width: 50%;
}

.contact input[type="text"],  .contact input[type="email"], 
 
textarea{

margin-bottom: 27px;

padding: 17px 19px;
color: #757575;
border-radius: 3px;
background: #FFF;

border: 0;

 width: 100%;
   
}

.footer-col a{

    margin-right: 27px;
}



                     /* Footer part */

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

 .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
} 

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}



@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }
}





                     /* Developed By Ahnaf Tahmid */